/* global style */

* {
  padding: 0;
  margin: 0;
}

html {
  width: 100%;
  font-family: Roboto;
}

/* Header style */

header {
  padding: 24px 60px;
  display: flex;
  background-color: #1f2937;
  color: white;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: 700;
}

menu {
  display: flex;
  gap: 16px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

/* hero section */

.hero {
  background-color: #1f2937;
  color: #f9faf8;
  display: flex;
  padding: 24px 60px;
}

.hero h1 {
  font-size: 48px;
  font-weight: 900;
}

.hero p {
  margin: 10px 0;
}

.hero button {
  background-color: #3882f6;
  border: none;
  color: #f9faf8;
  padding: 5px 20px;
  border-radius: 5px;
}

.image {
  width: 500px;
  height: 200px;

  align-self: end;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-left: auto;
  background-color: #5f656e;
}

/* information section */
.information {
  padding: 24px;
}
.information h2 {
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  text-align: center;
  margin: 15px auto;
}

.container {
  display: flex;
  gap: 12px;
  justify-content: center;
  flex-wrap: wrap;
}

.items {
  padding: 5px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.items p {
  text-align: center;
  width: 150px;
  padding: 0 auto;
  margin: 15px auto;
}

.image-info {
  width: 150px;
  height: 150px;
  border: 2px #3882f6 solid;
  border-radius: 10px;
  margin: 15px auto;
}

/* quote section */

.quote {
  background-color: #e5e7eb;
}

.quote-text p {
  font-style: italic;
  font-size: 36px;
  color: #1f2937;
}

.quote-author p {
  font-weight: 700;
}
